﻿@* @model ToDoList.Web.ViewModels.HomeViewModel; *@
@{
    ViewData["Title"] = "To Do List";
}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="deleteForm">
        <div class="modal-body">
            <p>Delete item?</p>
            <input type="hidden" class="form-control" id="form-delete-id" value="">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Add To-do Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="editForm">
        <div class="modal-body">
            <div class="form-group d-none">
                <input type="hidden" class="form-control" id="form-input-id" value="">
            </div>
            <div class="form-group">
                <label for="form-input-title">Title</label>
                <input type="text" class="form-control" id="form-input-title" placeholder="i.e. groceries shopping, check email..." required>
            </div>
            <div class="form-group">
                <label for="form-input-dueDate">Due Date</label>
                <input type="date" class="form-control" id="form-input-dueDate" required>
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="form-input-isComplete">
                    <label class="form-check-label" for="form-input-isComplete">Completed</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="alert alert-danger hide" role="alert">
    <i class="bi bi-x-circle"></i>
    <span class="alert-message"></span>
</div>
<div class="alert alert-success hide" role="alert">
    <i class="bi bi-check-circle"></i>
    <span class="alert-message"></span>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mt-4">@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          @* <button type="button" id="btn-add-item" class="btn btn-primary" data-toggle="modal" data-target="#editModal"> *@
          <button type="button" id="btn-add-item" class="btn btn-primary">
            <i class="bi bi-plus"></i> 
            Add Item
          </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5 class="list-cnt mt-4"></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="list-group">
                <label id="list-group-item-0" class="list-group-item d-none" for="item_checkbox_0">
                    <input type="checkbox" id="item_checkbox_0" class="form-check-input me-12" value="0" />
                    <div class="list-group-item-div d-flex w-100 justify-content-between">
                        <h6 id="item_title_0" class="mb-1 mr-auto">Template</h6>
                        <small class="list-group-item-duedate mr-2">Due on <span id="item_duedate_0">2021/01/01</span></small>
                        <div id="dropdown_menu_0" class="dropdown show">
                            <a href="#" role="button" class="dropdown-menu-button" id="dropdown_menu_link_0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown_menu_link_0">
                                <a class="dropdown-item dropdown-item-edit" data-item-id="" href="#">Edit</a>
                                <a class="dropdown-item dropdown-item-delete" data-item-id="" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        @* <div class="col-sm-6">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="list-group-item-div d-flex w-100 justify-content-between">
                        <label id="list-group-item-1" for="item_checkbox_1">
                            <input type="checkbox" id="item_checkbox_1" class="form-check-input me-12" value="0" />
                            Template
                        </label>
                        <small class="list-group-item-duedate">Due on <span id="item_duedate_1">2021/01/01</span></small>
                    </div>
                </a>
            </div>
        </div> *@
    </div>
    @* @if (Model.listItems == null || Model.listItems.Count == 0) {
        <div class="row">
            <div class="col-sm-12">
                <h5 class="mt-4">The list is empty. Start filling the list by adding an item.</h5>
            </div>
        </div>
    }
    else {
      <div class="row">
          <div class="col-sm-12">
              <h5 class="mt-4">Pending items: @(Model.listItems.Where(item => !item.IsComplete).Count())</h5>
          </div>
      </div>
      @await Component.InvokeAsync(nameof(ToDoList), Model.listItems)
    } *@
</div>