@model List<ToDoList.Web.ViewModels.Components.ToDoList.ToDoItemViewModel>
<div class="row">
    <div class="col-sm-6">
        <div class="list-group">
            @foreach (var item in Model) {
                <label class="list-group-item" for=@($"checkbox_{item.Id}")>
                    @Html.CheckBox($"checkbox_{item.Id}", item.IsComplete, new { @class = "form-check-input me-12", @value = item.Id })
                    @item.Title
                </label>
            }
        </div>
    </div>
</div>