@import "../wwwroot/lib/twitter-bootstrap/scss/bootstrap";

.list-group-item {
    padding: .75rem 2rem;

    @at-root label#{&} {
        margin: 0;
    }

    &:not(.d-none) {
        border-top-width: 1px;
        
        &~:not(.d-none) {
            border-top-width: 0px;
        }
    }

    //.list-check-input:checked {
        //.list-group-item-div {
            //.list-group-item-title {
                //text-decoration-line: line-through;
            //}
        //}
    //}
}

.alert {
    &.hide {
        display: none;
    }
}

.dropdown-menu-button {
    color: gray;
}